*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: black;
    color: white;
}
#movie-content{
    margin:1em;
    border-radius: 0.3em;
    background-color: rgb(66, 239, 222);
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#movie-content div{
    max-width: 25%;
    background-color: black;
    color: rgb(0, 206, 162);
    border-radius: 0.3em;
    margin:0.7em;
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1.5em;
    display: inline-block;
    box-shadow: 0.1em 0.1em 1em black;
}
#movie-content div img{
    border-radius: 0.2em;
    width:14em;
    height:9em;
}
#movie-content div button{
    border: none;
    background-color: rgb(0, 206, 162);
    color:black;
    padding: 0.3em 0.5em;
    display: block;
    border-radius: 0.2em;
    margin-left: auto;
}
#movie-content div p{
    margin: 1em 0;
    font-style: italic;
    letter-spacing: 2px;
}
 /* ---------- */
h1{
    border-bottom: 2px solid rgb(0, 206, 162);
    margin: 0.6em auto;
    margin-bottom: 1.6em;
    width:70%;
    color:rgb(0, 206, 162); 
}
/* ------------ */
.footer{
    border-top: solid 2px rgb(0, 206, 162);
    padding-top: 1em;
    letter-spacing: 1em;
    margin-bottom: 2em;
    margin: 2em 3em;
    text-align: center;
}
.footer a{
    letter-spacing: initial;
    text-decoration: underline;
    color: rgb(0, 206, 162);
    font-style: italic;
}